<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
    <script src="https://kit.fontawesome.com/934bce4726.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <!---------Header------->
    <div class="header">
        <div class="brand">
            <h1>ADMIN/h1>
        </div>
        <div class="admin-info">
            <i class="fa-solid fa-user"></i>
            <div class="admin-item">
                <a class="admin-username" href="#"><%= admin.username %>
                    <i class="fa-solid fa-sort-down"></i>
                </a>
                <ul class="admin-dropdown">
                    <li><a class="profile-link" href="#">Profile</a></li>
                    <li><a class="logout-link" href="/admin/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!----------AdminMenu--------->
    <div class="admin-menu">
        <div class="menu-item">
            <a href="/admin/blogs">Manage Posts</a>
        </div>
        <div class="menu-item">
            <a href="/admin/topics">Manage Topics</a>
        </div>
        <div class="menu-item">
            <a href="/admin/users">Manage Users</a>
        </div>
    </div>
    <!---------Container------->
    <div class="container">
        <!---------Edit-Menu--------->
        <div class="edit-menu">
            <div class="edit-item">
                <a class="add-link" href="/admin/topics/add">Add Topic</a>
            </div>
            <div class="edit-item">
                <a class="manage-link" href="/admin/topics">Manage Topics</a>
            </div>
        </div>
        <!---------Form------->
        <form class="form-post" method="POST" action="/admin/topics/add">
            <div class="text">
                <h1>Add Topic</h1>
            </div>
            <div class="form">
                <div class="form-1">
                    <div class="form-item">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" placeholder="Topic...">
                    </div>
                </div>
            </div>
            <% if (msg) { %>
            <div class="alert"><%= msg %></div>
            <% } %>
            <input type="submit" value="Add topic" class="submit-btn">
        </form>
    </div>
</body>
</html>