<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<body>
    <div class="container">
        <form class="form-login" action="/admin/login" method="POST">
            <div class="text-center">
                <h1>Đăng nhập hệ thống</h1>
            </div>
            <label for="inputName">Username</label>
            <input type="text" name="username" id="inputName" class="form-control" placeholder="Username" required>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <input type="submit" class="btn" value="Login"> 
        </form>
    </div>
</body>
</html>